{% extends "base.html" %}



{% block title %} {{listings.title}}  {% endblock %}


{% block content %}
<div class="w3-container w3-light-grey w3-padding-32 " >
    <div class="w3-row ">
        <div class="w3-col s6" style="padding:5px 10px" >
            <div class="w3-display-container text-center">
                {% with listing_images=listing.images.all %}
                {% if listing_images %}
                    {% with curr_image=listing_images.0.image.url %}

                    <img src="{{ curr_image }}" style="width:200%">
                    {% endwith %}
                {% endif %}
                {% endwith %}
            </div>
        <!-- </div>
        <div class="w3-col l3 s6" style="padding:5px 10px" > -->
            
            <h1>{{listing.title}}</h1> 
            <table>
                <tr>
                    <th>Price</th>
                    <td>${{listing.price}}</td>
                </tr>
                <tr>
                    <th>Condition</th>
                    <td>{{listing.condition}}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{listing.description}}</td>
                </tr>
                <tr>
                    <th>Category</th>
                    <td>{{listing.category}}</td>
                </tr>
            </table>
            <!-- <p class="thick" style="font-size:1.25em"></p>
            <p class="thick">Description:<br>
                <p></p>
            </p>
            <p class="thick"> Condition : 
                <p>{{listing.condition}}</p>
            </p>
            <p class="thick"> Category : 
                <p>{{listing.category}}</p>
            </p>  -->
            
            <p>{{listing.date}}</p>

            {% if request.user != listing.user %}

            <p><a href="/inbox/new/{{listing.id}}">Contact the Seller</a></p>
            
            <p><a href="/complaint/create/{{listing.id}}">Report this posting</a></p>

            <p><a href="/reviews/create/{{listing.id}}">Review {{listing.user.username}}</a></p>
            {%endif%} 
            <!-- delete button only visible to the posting owner -->
            {% if request.user == listing.user %}
            <a href="/item/{{listing.id}}/delete">Delete</a>
            <a href="/item/{{listing.id}}/edit">Edit</a>
            {%endif%} 
        </div>
    </div>
</div>
<!-- </div> -->
{% endblock content %}


