{% extends "base_wop.html" %}



{% block title %} {{listings.title}}  {% endblock %}

<style>
    
   
      table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 310px;
      }
      table td {
        border: solid 1px #666;
        width: 110px;
        word-wrap: break-word;
        padding: 3rem;
      }
      table th{
        font-size: larger;
      }
    


     
    
    </style>

{% block content %}
<div class="w3-container w3-light-grey w3-padding-32 " >
    <div class="w3-row ">
        <div class="w3-col s6" style="padding:5px 10px" >
            <div class="w3-display-container text-center">
                {% with listing_images=listing.images.all %}
                {% if listing_images %}
                    {% with curr_image=listing_images.0.image.url %}

                    <img src="{{ curr_image }}" style="width:200%">
                    {% endwith %}
                {% endif %}
                {% endwith %}
            </div>
        <!-- </div>
        <div class="w3-col l3 s6" style="padding:5px 10px" > -->
            
            <h1>{{listing.title}}</h1> 
            <table>
                <tr>
                    <th style="font-size: larger;" >Price:</th>
                    <td >$ {{listing.price}}</td>

                </tr>

                <tr>
                    <th style="font-size: larger;" class="new-section">Description:</th>
                    <td style ="padding: 3rem; vertical-align: middle;">{{listing.description}}</td>
                </tr>


                <tr>
                    <th style= "font-size: larger; margin-bottom: 50px;" >Condition:</th>
                    <td style ="padding: 3rem;"> {{listing.condition}}</td>
                </tr>

                <tr>
                    <th style= "font-size: larger; margin-bottom: 50px;">Category:</th>
                    <td style ="padding: 3rem;">{{listing.category}}</td>
                </tr>

            </table>
            <!-- <p class="thick" style="font-size:1.25em"></p>
            <p class="thick">Description:<br>
                <p></p>
            </p>
            <p class="thick"> Condition : 
                <p>{{listing.condition}}</p>
            </p>
            <p class="thick"> Category : 
                <p>{{listing.category}}</p>
            </p>  -->
            
            <p>{{listing.date}}</p>

            {% if request.user != listing.user %}

            <p><a href="/inbox/new/{{listing.id}}" class ="w3-bar-item w3-button">Contact the Seller</a></p>
            
            <p><a href="/complaint/create/{{listing.id}}" class ="w3-bar-item w3-button">Report this posting</a></p>

            <p><a href="/reviews/create/{{listing.id}}" class ="w3-bar-item w3-button">Review {{listing.user.username}}</a></p>
            {%endif%} 
            <!-- delete button only visible to the posting owner -->
            {% if request.user == listing.user %}
            <a href="/item/{{listing.id}}/delete" class ="w3-bar-item w3-button">Delete</a>
            <a href="/item/{{listing.id}}/edit" class ="w3-bar-item w3-button" >Edit</a>
            {%endif%} 
        </div>
    </div>
</div>
<!-- </div> -->
{% endblock content %}


