{% extends "base.html" %}

{% block title %} {{listings.title}}  {% endblock %}


{% block content %}
<div class="w3-container w3-pale-yellow w3-padding-32 " >
<div class="w3-row ">
    <div class="w3-col l3 s6" style="padding:10px 10px" >
            <div class="w3-display-container text-center">
            {% with listing_images=listing.images.all %}
            {% if listing_images %}
                {% with curr_image=listing_images.0.image.url %}
                <img src="{{ curr_image }}" style="width:90%">
                {% endwith %}
            {% endif %}
            {% endwith %}
            </div>
             </div>
            <div class="w3-col l3 s6" style="padding:10px 10px" >
            
            <h2>{{listing.title}}</h2>
            <p>Price: {{listing.price}}</p>
            <p>Date: {{listing.date }}</p>
            <p>Description: {{listing.description }}</p>
            <p>condition : {{listing.condition  }}</p>
            <p> category : {{listing.category }}</p> 
            <a href="/item/{{listing.id}}/delete">Delete</a> 
            </div>
    </div>
    </div>
</div>
{% endblock content %}


