{% extends "base.html" %}
{% block content %}

<h1>Search results</h1>


<div class="w3-container">
  {% if listings is none %}
    <h2>No results</h2>
  {% endif %}
    {% for listing in listings %}
    <a href="/item/{{listing.id}}">
        <div class="w3-display-container">
          {% with listing_images=listing.images.all %}
            {% if listing_images %}
              {% with curr_image=listing_images.0.image.url %}
                <img src="{{ curr_image }}" style="width:20%">
              {% endwith %}
            {% endif %}
          {% endwith %}
        </div>
        <div>
          <h2>{{listing.title}}</h2>
          <p>Price: {{listing.price}}</p>
        </div>
      </a>
    {% endfor %}
  </div>

{% endblock content %}